.settings {
	height: 100%;
}

.columns {
	display: flex;
	gap: 48px;
	padding: 12px 36px 48px;

	> section {
		flex: 1;
		min-width: 0;
	}
}

.colors {
	display: flex;
	gap: 48px;
	margin: 12px 0;
}

.arc {
	display: flex;
	justify-content: center;
}

.used {
	opacity: 0.7;
}
