[submodule "third_party/enyo-1.0"]
	path = third_party/enyo-1.0
	url = https://github.com/enyojs/enyo-1.0.git
[submodule "third_party/core-apps"]
	path = third_party/core-apps
	url = https://github.com/openwebos/core-apps.git
[submodule "third_party/foundation-frameworks"]
	path = third_party/foundation-frameworks
	url = https://github.com/openwebos/foundation-frameworks.git
[submodule "third_party/loadable-frameworks"]
	path = third_party/loadable-frameworks
	url = https://github.com/openwebos/loadable-frameworks.git
[submodule "third_party/mojoloader"]
	path = third_party/mojoloader
	url = https://github.com/openwebos/mojoloader.git
[submodule "third_party/underscore"]
	path = third_party/underscore
	url = https://github.com/openwebos/underscore.git
[submodule "third_party/luna-applauncher"]
	path = third_party/luna-applauncher
	url = https://github.com/openwebos/luna-applauncher.git
[submodule "third_party/luna-systemui"]
	path = third_party/luna-systemui
	url = https://github.com/openwebos/luna-systemui.git
[submodule "third_party/app-services"]
	path = third_party/app-services
	url = https://github.com/openwebos/app-services.git
[submodule "third_party/isis/isis-browser"]
	path = third_party/isis/isis-browser
	url = https://github.com/isis-project/isis-browser.git
[submodule "third_party/enyo-2/enyo"]
	path = third_party/enyo-2/enyo
	url = https://github.com/enyojs/enyo.git
[submodule "third_party/enyo-2/onyx"]
	path = third_party/enyo-2/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "third_party/enyo-2/layout"]
	path = third_party/enyo-2/layout
	url = https://github.com/enyojs/layout.git
[submodule "third_party/enyo-webos"]
	path = third_party/enyo-webos
	url = https://github.com/enyojs/enyo-webos.git
