# Copyright (c) 2026 webOS Phoenix contributors
# SPDX-License-Identifier: Apache-2.0

[D-BUS Service]
Name=com.palm.update
Exec=/usr/bin/run-js-service -n /usr/palm/services/com.palm.update
Type=dynamic
