# SPDX-License-Identifier: Apache-2.0

[D-BUS Service]
Name=org.example.service.feeds
Exec=/usr/bin/run-js-service -n /usr/palm/services/org.example.service.feeds
Type=dynamic
