.sidebar {
	height: 100%;
	box-sizing: border-box;
	background: var(--semantic-color-background-overlay-default);
}

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.scroller {
	flex: 1;
}

.section {
	margin: 0 48px;
}

.selected {
	background: var(--semantic-color-surface-default);
	border-radius: 24px;
}

.after {
	display: flex;
	align-items: center;
}

.count {
	color: var(--semantic-color-on-surface-sub);
	margin-right: 12px;
}

.newFolder {
	margin: 24px 48px 48px;
}
