# Copyright (c) 2026 webOS Phoenix contributors
# SPDX-License-Identifier: Apache-2.0
#
# PCs, tablets and 2-in-1s (x86-64): their graphics, sound, touch and
# sensors (see phoenix-hardware.cfg).

CONFIG_DRM_I915=m
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_RADEON=m
CONFIG_DRM_NOUVEAU=m
CONFIG_DRM_VIRTIO_GPU=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_I2C_HID_ACPI=m
CONFIG_INPUT_SOC_BUTTON_ARRAY=m
CONFIG_MMC_SDHCI_ACPI=m
CONFIG_TYPEC_UCSI=m
CONFIG_UCSI_ACPI=m
CONFIG_INTEL_HID_EVENT=m
CONFIG_INTEL_VBTN=m
